<html>
    <h2>
        HTML FORMS
    </h2>
    <form action="/submit2" method="post">
        <label for="science">SCIENCE: </label><br>
        <input type="text" name="science" id="science", value="0"><br>
        <label for="maths">MATHS: </label><br>
        <input type="text" name="maths" id="maths", value="0"><br>
        <label for="english">ENGLISH: </label><br>
        <input type="text" name="english" id="english", value="0"><br>
        <input type="submit" value="Submit">
    </form>
</html>
